body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.rectangle {
    margin: 300px auto;
    width: 600px;
    height: 360px;
    background: #007d00;
    position: relative;
}

.circle {
    width: 200px;
    height: 200px;
    background: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}