* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: black;
    width: 1000px;
    height: 200px;
    display: flex;
}

.item {
    height: 200px;
    width: calc(500px - 100px);
    background: coral;
}