* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: black;
    width: 1000px;
    height: 200px;
    display: flex;
}

.item {
    height: calc(100% - 20);
    min-width: calc(calc(100% / 5));
    margin: 10px;
    background: coral;
}