body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* regular link */
a {
    text-decoration: none;
    color: #333;
}

/* Hover */
a:hover {
    color: red;
}

/* active */
a:active {
    background: purple;
}

/* focus */
a:focus {
    background: yellow;
}

/* visited */
a:visited {
    color: green;
}