body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 30px auto;
    height: 600px;
}

.item {
    background: coral;
    padding: 1rem;
    border: 1px solid #333;
    text-align: center;
    
}

.item-grid {
    display: grid;
    /* grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 100px); */
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    /* justify-content: center; */
    /* justify-items: stretch; */
    /* align-items: end; */
    /* align-content: center;  */
    /* place-content: space-around; */
    /* place-items: center; */
}

